.authentication-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 88vh;
  width: 100%;
}

.authentication-wrapper .authentication-inner {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spromoter-settings-card {
	padding: 2.5rem;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	min-width: 24rem;
}