.spromoter-wrapper {
	position: relative;
	overflow: hidden;
}

.authentication-wrapper {
	position: relative;
	z-index: 1;
	width: 100%;
	min-height: 88vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spromoter-authentication-bg-shape {
	position: absolute;
	z-index: -100;
	right: 1rem;
	bottom: 1rem;
	max-width: 24rem;
}