@font-face {
	font-display: block;
	font-family: "bootstrap-icons";
	src: url("./../font/bootstrap-icons.woff2") format("woff2"),
		url("./../font/bootstrap-icons.woff") format("woff");
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
	display: inline-block;
	font-family: bootstrap-icons !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: -.125em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bi-star-fill::before {
	content: "\f586";
}

.bi-star-half::before {
	content: "\f587";
}

.bi-star::before {
	content: "\f588";
}

.bi-stars::before {
	content: "\f589";
}

/* Reviews */

.spromoter-single-review {
	position: relative;
	z-index: 1;
	transition-duration: 400ms;
	margin-bottom: 3rem;
	display: flex;
}

.spromoter-single-review::before {
	position: absolute;
	width: calc(100% + 3rem);
	height: calc(100% + 3rem);
	left: -1.5rem;
	top: -1.5rem;
	content: "";
	z-index: -10;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	border-radius: .75rem;
	opacity: 0;
	visibility: hidden;
	transition-duration: 400ms;
	border: 1px solid #ebebeb;
}

.spromoter-single-review.active::before,
.spromoter-single-review:hover::before {
	opacity: 10;
	visibility: visible;
}

.spromoter-single-review:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.spromoter-name-ratings {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.spromoter-comment-avatar {
	max-width: 5rem;
	border-radius: .5rem;
	flex: 0 0 5rem;
	margin-right: 1.5rem;
}

.spromoter-comment-info {
	flex: 0 0 calc(100% - 6.5rem);
	max-width: calc(100% - 6.5rem);
	width: calc(100% - 6.5rem);
}

.spromoter-comment-avatar img {
	border-radius: 20rem;
}

.spromoter-ratings {
	transition-duration: 400ms;
	line-height: 1;
	padding: .5rem .75rem;
	border: 1px solid #ddd;
	border-radius: 4.25rem;
	font-size: .75rem !important;
	color: #8480ae;
}

.spromoter-ratings .bi-star-fill,
.spromoter-ratings .bi-star-half {
	color: #ffc107;
}

.spromoter-comments {
	color: #8480ae;
}

.spromoter-date {
	font-size: 14px;
	color: #8480ae;
}

.spromoter-name {
	color: #1f0757;
	font-weight: 600;
}

/* Forms */

.spromoter-review-form {
	margin-top: 5rem;
	border-radius: .6rem;
	padding: 2rem;
	background-color: #F0F1F6;
}

.spromoter-form-input {
	padding: .5rem 1.25rem !important;
	font-size: 1rem !important;
	width: 100%;
	display: block;
	border: 0 !important;
	height: 54px;
	border-radius: .5rem;
	margin-bottom: 1rem;
	background-color: #fff;
	color: #8480ae;
	transition-duration: 400ms;
}

.spromoter-form-input:focus {
	color: #1f0757;
}

textarea.spromoter-form-input {
	min-height: 120px;
}

/* Rating Stars */
.spromoter-rating-text {
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
	padding-left: 4px;
	color: #1f0757;
	font-weight: 500;
}

.spromoter-rating-wrap .spromoter-rating {
	margin-bottom: 1rem;
}

.spromoter-rating-wrap input[type="radio"] {
	position: fixed;
	top: 0;
	right: 100%;
}

.spromoter-rating-wrap label {
	font-size: 1.25rem;
	padding: 1rem;
	margin: 0;
	float: left;
	cursor: pointer;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	line-height: 1 !important;
}

.spromoter-rating-wrap input[type="radio"]:checked~input+label {
	background: none;
	color: #8480ae;
}

.spromoter-rating-wrap input+label {
	background: #fff;
	color: #ffc107;
	margin: 0 0 1em 0;
}

.spromoter-rating-wrap input+label:first-of-type {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.spromoter-rating-wrap input:checked+label {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.spromoter-form-file-input[type="file"] {
	width: 100%;
	color: #1f0757;
	padding: .5rem;
	background-color: #fff;
	border-radius: .5rem;
	margin-bottom: 1rem;
}

.spromoter-form-file-input[type=file]::file-selector-button {
	margin-right: 20px;
	border: none;
	background: #F0F1F6;
	padding: 10px 20px;
	border-radius: 8px;
	color: #1f0757;
	cursor: pointer;
	transition: background .2s ease-in-out;
}

.spromoter-form-file-input[type=file]::file-selector-button:hover {
	background: #F0F1F6;
}

.spromoter-form-check {
	display: block;
	min-height: 1.5rem;
	padding-left: 1.7em;
	margin-bottom: 1rem;
}

.spromoter-form-check-input:checked[type="checkbox"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.spromoter-form-check-input:checked {
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.spromoter-form-check-input[type="checkbox"] {
	border-radius: .25em;
}

.spromoter-form-check .spromoter-form-check-input {
	float: left;
	margin-left: -1.5em;
}

.spromoter-form-check-input {
	flex-shrink: 0;
	width: 1em;
	height: 1em;
	margin-top: .25em;
	vertical-align: top;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 2px solid #0d6efd;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	print-color-adjust: exact;
}

.spromoter-form-check-label {
	color: #1f0757;
}

.spromoter-button {
  transition-duration: 400ms;
	outline: none;
  border: none;
	padding: 0.875rem 1.75rem;
	font-size: 1rem;
	font-weight: 500;
	color: #fff;
	background-color: #0d6efd;
	line-height: 0 !important;
	border-radius: .5rem;
	height: 54px;
	display: block;
	min-width: 150px;
}

.spromoter-button:hover,
.spromoter-button:focus {
	background-color: #0b5ed7;
}